[2020-09-20 19:38] webknjaz commented on #20
Well, I wouldn't be so sure. It may be some curl bug: it kept running after the server was dead (there couldn't have been any connection live after that).

[2020-09-20 19:58] webknjaz commented on #20
@altermark it'd be great if you could eliminate CherryPy from the reproducer and make one that only relies on Cheroot...

Also, could you post your traceback? According to the topic starter, the `socket.timeout` exception is supposed to pop-up @ https://github.com/cherrypy/cheroot/blob/7268068/cheroot/server.py#L1283. But it's already wrapped with try/except and catches `socket.error`. `socket.tim

[2020-09-20 20:03] webknjaz commented on #20
Oh, it goes ahead and attempts to send a response if there was a timeout by calling `_conditional_error()` and that is unprotected.

FWIW changing `if errnum in timeout_errs:` to `if 'write' not in str(ex) and errnum in timeout_errs:` should be a quick patch. But we need a pytest-based regression test for this anyway.

[2020-09-20 20:07] webknjaz commented on #20
I guess doing something like https://stackoverflow.com/questions/1833563/simple-way-to-simulate-a-slow-network-in-python should be a good start...

[2020-09-20 23:29] altermark commented on #20
To reproduce the error message, the following code should be enough:

	import requests
	import threading
	import time

	from cheroot.wsgi import Server
	from cheroot.ssl.builtin import BuiltinSSLAdapter

	def counter():
		i = 0
		while True:
			i += 1
			row = b"%i " % i
			yield row

	def app(environ, start_fn):
		start_fn('200 OK', [('Content-Type', 'application/octet-stream')])
		return counter

[2020-09-20 23:59] altermark commented on #20
You can even stop the server after sleep and then read data from the buffer:

		time.sleep(3)

		server.stop()
		server_thread.join()

		try:
			data = r.raw.read(2_000_000)
			print(">", len(data))
		except Exception as err:
			print("Error reading data:", err)

[2020-09-21 13:39] webknjaz commented on #20
Thanks for the investigation! The next step would be to create a PR with tests.

[2020-09-25 00:53] dependabot-preview[bot] opened #327 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/cherrypy) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/cherrypy/update-logs/48542947).

[2020-09-25 07:29] AbdealiJK opened #328 "Need to KeyboardInterrupt 3 times to stop the server"
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**
I am trying out cheroot for the first time today. When I run my flask application with cheroot, I find that to stop the application, I need to hit `Ctrl+C` 3 times - even if I wait for nearly 2-3 minutes and no requ

[2020-09-25 08:42] webknjaz commented on #327
https://github.com/dependabot/dependabot-core/issues/2550

[2020-09-25 08:42] #327 closed

[2020-10-12 02:05] #190 closed

[2020-10-12 02:05] #160 closed

[2020-10-14 14:49] webknjaz commented on #292
@sanderjo it's okay if the PR won't be ideal. We can work together and iterate through reviews to improve it if it'll be necessary.

[2020-10-16 23:05] webknjaz commented on #330
I did some googleing and it looks like `UnreadablePostError` only exists in Django. So it seems like you use Cheroot (and possibly CherryPy) as a web-server for a Django App and this exception is raised by Django. I don't think we can do anything about things happening in other frameworks so I'm closing this issue.

[2020-10-16 23:05] #330 closed

[2020-10-27 15:33] NathanRichard commented on #328
Hello all,
I was hit by this bug as well when upgrading from 8.4.0 to 8.4.5. According to my tests, the regression took place in 8.4.4 (the 8.4.3 being the latest ok version for me). The [changelog](https://github.com/cherrypy/cheroot/blob/master/CHANGES.rst#id29) indicates some changes in the shutdown procedure (PR 309). Maybe it is linked ?
I am running python 3.7.9 under Ubuntu 20.04.

[2020-10-29 22:43] sanderjo commented on #292
OK ... I got it working. Two lines of codes, and cheroot is not spitting out any ssl errors anymore ... by ignoring them completely in the code snippet of error_log() you gave.

As I have no idea if this is what you want, here's the code, and not (yet) a PR:

[code]

Please advice.

[2020-10-30 13:07] sanderjo commented on #292
PS:

Instead of completely ignoring it, I could test:

- leaving the first write() in place, so output, plus
- changing the existing `if traceback:` to `if traceback and "ssl.SSLError" not in traceback_.format_exc() : `

If that too stops cheroot / SABnzbd spitting out stuff, it would be nice.

[2020-11-02 11:46] vashek commented on #245
I suggest changing the description of this issue to "OpenSSL.SSL.WantReadError and WantWriteError", because both errors occur for similar reasons. (I encountered the one with WantWriteError, which is probably the more likely of the two because you're most likely to send big data than receive, but I'm only guessing.)

Thanks a lot @jpeckham, your workaround helped me.

If anyone can't reproduce the

[2020-11-02 16:33] webknjaz commented on #245
I'd guess, it's more of an OpenSSL backend dependent. It may be pyOpenSSL is a wrapper around cryptography and cryptography is a wrapper around OpenSSL. So it may be compiled against many different OpenSSL versions that may behave differently, or just have different compilation settings in general.

Interesting. We may want to integrate a tool like that into our test suite one day...

As for why W

[2020-11-05 10:41] The-Compiler commented on #317
I also saw this (or at least a closely related bug) today, with cheroot 8.4.5. The end of the stacktrace looks slightly different:

[code]

[2020-11-10 17:31] The-Compiler commented on #328
FWIW this also seems to affect SIGTERM, which causes the server to not exit at all (even when doing it multiple times).

[2020-11-10 17:34] webknjaz commented on #328
Urgh... I would've merged one of the fixes but nobody seems to want to add tests

[2020-11-10 17:55] The-Compiler commented on #328
Sorry, this was probably at least partially a false alarm. Here's an example closer to what I have in my project:

[code]

I'm not actually sure why I added the custom signal handler, this was back in 2015 with cherrypy 3.8.0 and perhaps required at the time? It worked fine until cheroot 8.4.3, but when I remove it, SIGTERM seems to continue working with 8.4.4+ as well.

[2020-11-10 17:59] webknjaz commented on #328
I'm pretty sure `from wsgiref.simple_server import make_server` is redundant there too. And yes, the signal handler is probably unnecessary. Although, I can imagine that it's problematic.
FWIW #331 / #322 need to be coupled with a pytest-based regression test.

[2020-11-10 18:01] loqs commented on #328
@webknjaz did the cherrypy testsuite pass with either #331 or #322 for you?  Locally the same test from cherrypy/cherrypy#1873 was still failing with either applied.

[2020-11-11 21:03] sanderjo commented on #292
pinging @webknjaz ... feedback on my 2-liner?

[2020-11-12 02:41] webknjaz commented on #292
Oh, sorry. I've missed that. FWIW it's easier to spot PRs + it's easier to add comments in a PR environment because issues aren't well-suited for this sort of discussion. Also, you didn't make it a diff so I cannot compare to the previous version.
FWIW I don't like the idea of special-casing SSLError on the logger level: it's unreliable and may be harmful.
I'll be waiting for a PR to continue the

[2020-11-12 03:12] sanderjo commented on #292
I'm not experiencing that we're getting closer, so I'm closing this. You can always reopen if you want to.

[2020-11-12 03:12] #292 closed

[2020-11-15 02:52] #328 closed

[2020-11-15 03:15] jaraco opened #335 "Tests hang when PIP_USE_FEATURE=2020-resolver"
Originally reported at https://github.com/pypa/pip/issues/9011#issuecomment-727295776, enabling the 2020-resolver in pip reveals a problem with this project's dependencies.

The problem sometimes manifests as a hang due to the reported issue and other times reports a couple of conflicts:

[code]

[2020-11-15 03:20] jaraco commented on #335
I see that testmon is pinned to `<1`, but I don't know why.

[2020-11-15 03:32] webknjaz commented on #335
The newer version has different CLI flags and I haven't had time to go through the compat

[2020-11-15 16:50] webknjaz commented on #335
Interesting... I'm curious if RTD hangs for the same reason: https://readthedocs.org/projects/cheroot/builds/12339929/.

[2020-11-15 17:11] jaraco commented on #252
Good question. One case is that older versions of CherryPy still can and do pick up the latest cheroot.

I'd like to drop support for sunset Pythons (3.5, 2.7) ASAP, but I want cheroot to be stable. There were a couple of regressions identified with recent releases and I want to be sure those are addressed. Looking at the changelog, it does look as if several regressions were fixed. I'll scan the

[2020-11-15 17:14] jaraco commented on #335
Indeed, running `tox -e build-docs` hangs in the pypa-9011 branch.

[2020-11-15 17:19] webknjaz commented on #335
@jaraco  FWIW I've reproduced it locally by running the same commands as RTD does, in a clean venv, separate from the one in tox. It explodes inside of setuptools

[code]

But if I upgrade `setuptools` to the latest version, it succeeds. So it's clearly a setuptools bug but I have no idea why we haven't hit it before: that `pytest-watch-4.2.0.tar.gz` tarball is about 2 years old.

[2020-11-15 17:20] webknjaz commented on #335
Oh, is it another "leaky pip isolation" instance?

[2020-11-15 17:26] webknjaz commented on #252
@jaraco I think that the most important thing is to fix the regressions introduced by the migration to `selectors` and race conditions related to that. There's a few PRs that have to be reviewed but they are complex and since I'm worried about introducing more regressions, I've been postponing reviewing them. I want to dedicate a sufficient amount of time for the review to make sure that fixes to

[2020-11-18 17:04] mewalig commented on #330
@webknjaz `UnreadablePostError` is the symptom, not the cause

What's the downside in just re-applying the changes described in cherrypy/cherrypy#1602, to explicitly handle the case where size == 0? Seems safer than always assuming the caller will never pass a size of 0.

[2020-11-18 17:17] webknjaz commented on #330
I'm pretty sure it's applied.

[2020-11-18 17:19] webknjaz commented on #330
But if you can prove that this is happening in an isolated CherryPy- or Cheroot-only example, I'll be happy to take a look at it.

[2020-11-18 20:48] mewalig commented on #330
It is not applied-- see below. Is it safe to always assume that rfile.read(0) will never fail and will never return None? If not, more reason to apply.

cheroot/cheroot/server.py:269: size is not checked for zero value

[code]

cheroot/cheroot/server.py:358: size is not checked for zero value
[code]

[2020-11-24 16:03] jaraco commented on #317
Fix from #337 is now released as 8.4.8. Please verify the fix and report back here. Thanks!

[2020-11-24 16:03] #317 closed

[2020-11-24 16:15] jaraco commented on #252
I'd expect that such a change would be de-stabilizing. I'd rather not accept any more de-stabilizing changes in 8.x and focus on stabilizing changes so that the legacy support can be dropped. Let's get #311 (or similar) merged and then proceed with requiring Python 3.6.

[2020-11-24 16:35] #335 closed

[2020-11-24 21:06] AndreLouisCaron commented on #317
Thanks a lot for the fix!  I'm rolling that out to our test environments and will confirm the fix later this week :-)

[2020-11-30 11:32] The-Compiler opened #341 "[8.4.8 regression?] ConnectionResetError on Windows"
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**
After updating from 8.4.7 to .8, in around 50% of the testsuite runs of [my project](https://www.qutebrowser.org/) (which runs end to end tests of a webbrowser against cheroot), I get this traceback on Windows:

[co

[2020-11-30 16:14] webknjaz commented on #341
Thanks for reporting! Here's the test report from a similar env https://github.com/cherrypy/cheroot/runs/1471515239?check_suite_focus=true and it looks fine.

Also, cc @cyraxjoe who modified `_close_kernel_socket` recently IIRC.

@The-Compiler it looks like the traceback originates from `socket.shutdown()` when it tries to finalize the session on the transport level. I can imagine that this may be

[2020-11-30 18:13] webknjaz commented on #341
@The-Compiler mind trying out https://github.com/cherrypy/cheroot/pull/342 in your CI setup?

[2020-11-30 18:35] webknjaz commented on #341
Interesting... This message https://bugs.python.org/msg186417 seems to imply that the client can send RST if it sent some bytes over the wire that the server never read but instead initiated the TCP session termination with FIN.

[2020-11-30 19:38] The-Compiler commented on #341
With those end2end tests (starting qutebrowser and a cheroot+Flask server as a subprocess each), I treat any unexpected line on stdout as an error, as I'm essentially parsing the stdout (to e.g. see whether the logged requests matched what I expected). So that's entirely my own fault :smile:

Thanks for the quick follow-up! I'll give it a try ASAP (probably tomorrow).

[2020-11-30 21:46] webknjaz commented on #106
I've found out that using `sys.maxsize+1` reproduces an `OverflowError` and `sys.maxsize` reproduces `MemoryError`. The underlying `read()` call explodes in C-land so one thing we could do is to attempt reading smaller chunks in a loop but this will probably cause timeouts for sufficiently big payload and also will consume that much memory. So we should shift the default from unlimited to somethin

[2020-12-01 19:14] webknjaz opened #343 "[TODO] 👷 Kill Travis CI in favor of GHA"
❓ **I'm submitting a ...**
- [ ] 🐞 bug report
- [X] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Is your feature request related to a problem? Please describe.**

We've burnt through the trial credits and now the builds are disabled ([https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing](https://web.archive.org/web/*/https://blog.travis-ci.com/2020-11-0

[2020-12-01 19:16] webknjaz commented on #252
Fair enough. But here's a few more things that may be considered as soft blockers: https://github.com/cherrypy/cheroot/issues/343 + https://github.com/cherrypy/cheroot/pull/342.

[2020-12-03 22:57] jaraco commented on #343
I've dropped support for Travis in jaraco/skeleton. I have no objections.

[2020-12-03 23:44] webknjaz commented on #343
I've committed some changes to master already but PyPy support needs to be polished a bit, I have some experiments in a separate branch.

[2020-12-04 01:52] #343 closed

[2020-12-05 16:14] jaraco commented on #252
It occurs to me that the changes applied to the head of the repo have not always been stabilizing, so I'd like to push forward with the freeze and dropping Python support. I'll get #311 merged and released and then proceed with #339. We'll still have a maintenance branch for 8.x where stabilizing changes and infrastructure updates can (and should) be targeted.

[2020-12-05 16:34] jaraco opened #344 "Add regression tests to capture legitimate OSErrors in unusual states"
In #341, users reported a regression in how certain exceptions were handled or not. In #342, these issues were addressed, but a regression test had not yet been implemented.

This bug captures that deficiency until such a time that a test can be devised.

[2020-12-05 16:36] #341 closed

[2020-12-05 16:40] jaraco commented on #252
I've created the [maint/8.x branch](/cherrypy/cheroot/tree/maint/8.x) to track changes that target Python 3.5 and 2.7 compatibility.

[2020-12-05 17:07] jaraco opened #345 "Build-docs command fails to build on macOS"
Today I tried to build the docs to reproduce the error encountered in #339, but sadly that failed with a different error:

[code]

I'm inclined to say that any package that can't be installed simply using pip should not be used as part of the development suite. It can be used in an optional infrastructure, but shouldn't be in the critical path for developer workflows. Also, developers should not h

[2020-12-06 01:08] webknjaz commented on #345
Makes sense, I don't use macOS so I've never seen that. But if that's necessary, we should add an extra CI job to ensure this works there, I guess.

As for the spellchecker (libenchant is a spellchecker that is only used in a separate job and provides a dedicated Sphinx builder), I think it's okay to have it conditionally present for the spellchecking toxenv only. I'll assign this to myself.

[2020-12-06 22:08] ryanrasti commented on #20
I have a similar (same?) issue with gzip encoding. Steps to repro:

1. Serve a large file
2. `Content-Length` header is determined before actually sending out the data [in _cprequest](https://github.com/cherrypy/cherrypy/blob/master/cherrypy/_cprequest.py#L898)
3. Step 2 actually forces the entire response to be created in memory
4. I suspect then when SSL timeout is issued it is trying to write t

[2020-12-06 22:21] #345 closed

[2020-12-06 22:26] webknjaz commented on #345
I've made it optional but `tox -e spellcheck-docs` still needs it, obviously. I don't know of any better/other sphinx extension providing the same feature.

[2020-12-07 13:58] webknjaz commented on #252
Really? That wasn't my intention at all. I was trying to only put bugfixes there + some infra fixes, of course.

[2020-12-08 09:26] sanderjo opened #346 "cherrypy SSL stops responding after 5 intermediate tracebacks TLSV1_ALERT_UNKNOWN_CA, and final "ssl.SSLZeroReturnError: TLS/SSL connection has been closed (EOF) (_ssl.c:2471)""
Hi,

SABnzbd sub-author here, CC to @Safihre

I'm not sure if this is cheroot or cherrypy. The PoC program does a "import cherrypy"

❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**
After 5 (failed) connected SSL/TLS connections from a certain SSL client (Radarr,

[2020-12-08 11:33] sanderjo commented on #346
Also from the same Radarr 3.0.0 (but now with different client approach): different intermediate traceback `SSLV3_ALERT_CERTIFICATE_UNKNOWN`, and then the same `ssl.SSLZeroReturnError: TLS/SSL connection has been closed (EOF) (_ssl.c:2471)` and cherrypy/cheroot is still running but unreachable.

`
C:\mini-cherrypy>python mini-cherrypy-server.py
python version: 3.9.0 (tags/v3.9.0:9cf6752, Oct  5 20

[2020-12-08 14:10] webknjaz commented on #346
It sounds like your CherryPy app uses a self-signed certificate that is not added to Radarr's chain of trust. And so when Radarr doesn't confirm the received certificate as trusted, it issues a [TLS alert](https://en.wikipedia.org/wiki/Transport_Layer_Security#Alert_protocol) that CherryPy-side (stdlib SSL module really) receives and raises as an exception, then it attempts to process that excepti

[2020-12-08 14:22] nizamial09 opened #347 "ssl.SSLError: [SSL: SSLV3_ALERT_BAD_CERTIFICATE] sslv3 alert bad certificate (_ssl.c:897)"
I was using the https based ceph-dashboard and I keep getting this error notification in the log continously.

[code]
-->

❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**

❓ **What is the motivation / use case for changing the behavior?**

💡 **To Reproduce**

Ste

[2020-12-08 14:28] webknjaz commented on #347
This doesn't make sense to use because it doesn't contain any details.

[2020-12-08 14:29] webknjaz commented on #347
Duplicate of #346

[2020-12-08 14:29] #347 closed

[2020-12-08 14:31] webknjaz commented on #347
Also, the traceback doesn't look like any version we ship.

[2020-12-08 17:15] sanderjo commented on #346
Sounds like an explanation!

So far: Radarr in a docker talking to mini-cherrypy **cannot** trigger the problem. I'll do cross-testing between Linux and Windows.

I'll try to install that version via pip (on Windows)

Yes, please!

[2020-12-08 18:53] sanderjo commented on #346
Can you help how to install an older cheroot on Windows?

`python -m pip install -Iv cheroot==8.4.4`

results in:

[code]

`python -m pip install -Iv cheroot==8.4.5`

results in a lot of pages of text:

[code]

[2020-12-08 18:54] sanderjo commented on #346
Cross-testing between Linux and Windows:

Radarr (in docker) on Linux ... connecting to cheroot-mini-server on Windows ... No SSL errors! That is weird. That means Radarr-on-Linux behaves differently than Radarr-on-Windows?

[2020-12-08 19:30] sanderjo commented on #346
On Linux, in a env, I'm able to install cheroot 8.4.4.

From Windows I connect to that Linux instance, and ... SSL errors. So 8.4.4 does not solve it.

[code]

[2020-12-09 01:52] jaraco commented on #252
Apologies. I didn't mean that to be critical. I was just observing that the stabilizing changes we were making, such as #337 were themselves causing regressions (#341), or #311 which is a minor redesign of the implementation. So although these were bugfixes, they weren't simple tweak bugfixes but rewrites of behavior.

I meant my comment as a matter-of-fact and not a critique and all in good spiri

[2020-12-09 18:45] webknjaz commented on #252
@jaraco you are right, those changes are non-trivial and I think we did best we could given the circumstances. FWIW I'm trying to put in more time into making the CI green and I'm rather stuck in attempting to synchronize states in the flaky tests to make them more deterministic.

[2020-12-11 20:00] webknjaz commented on #265
Hey @mnaser, it looks like Zuul got completely stuck and stopped even trying to start builds. Any ideas about why that may be happening?

[2020-12-11 20:54] #344 closed

[2020-12-27 18:40] DogAteMyCode opened #354 "Cherrypy ssl error"
It is a simple cherrypy server, however after the server running fine for 1-2 hours I get this error and it becomes unresponsive. How can I fix this

[StackOverflow][StackOverflow question]
I added this to stack overflow if you prefer to see it there

[code]

This is the server code

[code]

This issue happens after 1-2 hours of running the server, you get this error and it becomes unresponsive. W

[2020-12-28 11:48] webknjaz commented on #354
We need a Cheroot-only reproducer and it'd be useful to have the client code, which seems broken too.

Oh, and you could narrow down what's happening by recording the network traffic with tcpdump or Wireshark. Specifically, before/during the time when it gets stuck.

[2020-12-28 11:52] webknjaz commented on #354
Here's one of the mentions of unexpected record on the Internet: https://groups.google.com/g/mailing.openssl.users/c/WAmXHwrExNI.

[2020-12-28 14:07] DogAteMyCode commented on #354
CPython was installed with the python 3.9 DMG from python.org.
OpenSSL version is 20.0.1

[2020-12-28 14:16] DogAteMyCode commented on #354
As for traffic before the crash. This happens with varying IPs just before the error.

[code]

[2020-12-28 17:12] webknjaz commented on #354
There is no such version.

These are just HTTP access logs and are probably unrelated. You need to record actual traffic. The problem is happening on the TLS level, not HTTP.

[2020-12-28 18:28] DogAteMyCode commented on #354
<img width="505" alt="Screen Shot 2020-12-28 at 12 27 58 PM" src="https://user-images.githubusercontent.com/53050404/103235631-2ee11100-4908-11eb-9793-8b15f55b46fb.png">

ok will try Wireshark then

[2020-12-28 21:49] DogAteMyCode commented on #354
[CherryPy.pcapng.zip](https://github.com/cherrypy/cheroot/files/5748853/CherryPy.pcapng.zip)
This is the Wireshark file of the error, the error should have occurred within 100 seconds of the first packet, however just in case I captured the following 1000 packets.

[2020-12-29 02:10] webknjaz commented on #354
That is unrelated. You use a `builtin` adapter that relies on the `ssl` module that is present in Python stdlib. That module works with some OpenSSL that is present on your system. pyOpenSSL is a third-party library that also links against OpenSSL but that's not something you use.

I'll try to take a look at your capture but it mostly sounds like it's a bad client. FWIW the solution would be to ex

[2020-12-29 02:23] webknjaz commented on #354
I see there's some noise from different protocols like ICMP and also there's TLS traffic from different apps. It's useful to filter by port or something like this (maybe by the process even, but I'm not sure).

Could you clarify, is 34.107.247.156 the IP your app listens to?

[2020-12-29 15:43] DogAteMyCode commented on #354
It was at the time, you see I don't have a static IP, I am using google domain's dns.

[2020-12-29 15:48] webknjaz commented on #354
Alright, so this was an IP on the interface the app was listening to. Right? DNS doesn't matter much on the TLS level. I don't fully understand the topology you have, I just want to figure out which TCP sessions are related to the app activity. Also, did you record traffic on the same machine?
Oh, and what's 192.168.1.119? It seems to be the client that caused all of this.

[2020-12-29 17:57] DogAteMyCode commented on #354
And just how would one do that?

[2020-12-29 19:41] webknjaz commented on #354
Reproduce the issue? For this we need to understand what sort of client you have at 192.168.1.119.

Extend the ignore list? Just add some substring to a var in the errors module, I guess. I haven't looked at it closely yet. It's important to have a robust reproducer first to properly test that the fix works.

[2021-01-01 01:39] DogAteMyCode commented on #354
I did a botch,
`runserver()` is the function that starts the server.
I surrounded this with
`
import ssl
try:
    runserver()
except ssl.SSLError:
    import os
    os.system(xterm -c python3.9 python-module-dir &)
    sys.exit()
`
this just restarts the server in a self closing xterm window, whenever the server crashes it just creates a new instance and closes the old one. However I am still in s

[2021-01-04 16:43] webknjaz opened #355 "`pytest>6.2.0` emits warnings for unraisable exceptions and unhandled thread exceptions under Python 3.8+"
❓ **I'm submitting a ...**
- [X] 🐞 tests bug report
- [ ] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**

pytest 6.2.0 introduced `unraisableexception` and `threadexception` modules that are enabled by default. They exploit `sys.unraisablehook` and `threading.excepthook` that were introduced in

[2021-01-10 11:25] a16bitsysop opened #357 "Tests failing on alpine linux"
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**

When pytest is run on alpine Linux there are 2 failures with cheroot 8.5.1

[code]

And

[code]

❓ **What is the motivation / use case for changing the behavior?**
Tests need to pass to create a package

💡 **To Rep

[2021-01-10 12:35] webknjaz commented on #357
As a workaround, either use pytest below 6.2.0 or disable the new plugins that cause these warnings. See the changelog for pytest v6.2.0 for more details.

[2021-01-10 12:36] webknjaz commented on #357
Duplicate of #355

[2021-01-10 12:36] #357 closed

[2021-01-10 12:56] a16bitsysop commented on #357
Okay thanks, to get the tests to pass I remove error from pytest.ini

[code]

And use:
[code]

[2021-01-12 10:57] mpf82 commented on #346
Since upgrading from cheroot 8.4.6 to 8.5.1 we're also experiencing the same (or at least a very similar) issue both under Linux (SLES15 64bit) and Windows (10 64bit).

We've encounterd both

and

We also noticed that Firefox (84.0.2 (64-Bit)) was more likely to display the page anyway, while accessing the page with Chrome ( 81.0.4044.92) would request a bunch of resources before the server would

[2021-01-15 22:20] cameronbrunner opened #358 "Threadpool worker threads exit on socket errors"
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**
When cheroot threads handle a conn that throws a socket error the thread exits.  The easiest way to get this to occur is to create an HTTPS cherrypy server with a cheroot backend and then issue HTTP requests.  SSL e

[2021-01-15 22:21] cameronbrunner commented on #358
@dtougas

[2021-01-15 22:23] cameronbrunner commented on #358
It would be a much larger change, but might be worth it, to have some thread maintenance to check threads that might have exited.  Wrapping the worker run code to catch all exceptions would be another option to consider.

[2021-01-18 23:41] mpf82 commented on #346
The hotfix released as 8.5.2 seems to fix the issue, at least AFAICT (using the code provided by sanderjo in this issue's first post as well as using the new fix in our application).

While with version 8.5.1 FF would sometimes raise an error and Chrome would hang after 5 to10 requests, with 8.5.2 I can see neither errors nor does the application hang after over 100 requests.

Cheers =)

[2021-02-21 08:41] evandrix opened #363 "`'SSL_PROTOCOL': cipher[1]` => "TypeError: 'NoneType' object is not subscriptable""
Anyone encountered this error message before?

I've been running a CherryPy server in production, and it seemed to have "hanged" i.e. server process still running, but requests are not being serviced, the following being the last error message captured:

[code]

[2021-02-21 21:40] webknjaz commented on #363
No.

Please fill out the form when reporting issues. This doesn't look actionable. No reproducer or conditions. That said, there's no way of guessing what you did, how you deployed or used it, or if there's any real-world scenario of triggering this behavior.

The docs say that [`SSLSocket.cipher()`] returns `None` in case if there's no connection established. So you'll have to maybe record networ

[2021-03-04 21:27] vodnokoki commented on #245
Faced with above issue, builtin module is working perfectly, but when audit suggest to use only tlsv1.2 and tls1.3, i didn't now how to implement with builtin, so chanhed logic with pyopenssl and using  context allowing only tlsv1.2 and tls1.3. Unhandled exceptions raised when server response big js files, architecture is react+Django.

After applying changes from @vashek everything works perfectl

[2021-03-04 23:32] webknjaz commented on #245
I suppose you could use the context setter on the adapter: https://github.com/cherrypy/cheroot/blob/473c546/cheroot/ssl/builtin.py#L258. Just make sure to repeat some logic from the initializer.

Good to know!

[2021-03-05 14:28] vodnokoki commented on #245
In cherrypy documentation it says that context is valid only for pyopenssl module.  thanks for your advice and help, it works great with builtin ssl.

[2021-03-17 06:17] thezoggy commented on #209
its easy to reproduce this in sabnzbd with latest cherrypy/cheroot, if you try to go to webapp https://ip:port  it will throw the traceback with a self-signed cert.

[code]

would be nice to just suppress this traceback

[2021-03-17 12:36] webknjaz commented on #209
@thezoggy we're unable to debug third-party software. The reproducer would need to be Cheroot-based and have no dependencies on unrelated libraries.

[2021-04-24 20:44] jreremy commented on #363
I'm running into the same issue using cheroot with bottle:

- cheroot-8.5.2
- Ubuntu 20.04.1 LTS
- python 3.8.5

The following is my deployment. Haven't been able to reproduce it reliably, sometimes the error occurs days/weeks after starting the server, and sometimes the server runs for extended periods of time without issue.
`from bottle import ServerAdapter, run

class SSLCherootAdapter(ServerAd

[2021-04-25 19:41] webknjaz commented on #363
@jreremy we need a Cheroot-only reproducer because third-party wrappers may change some behavior and nobody has resources to debug that.

[2021-04-26 21:37] pavelbrych commented on #358
Hi, we just run into similar issue in our project, see traceback bellow. Check for not-empty connection does not help here.

This SSLError in parse_request() will trigger _conditional_error(), but subsequent exception in simple_response() is not handled and results in interruption of WorkerThread run() method.

When all worker-threads are stopped, server became unresponsive.

I see no harm in prop

[2021-05-16 06:58] domdfcoding opened #369 "DeprecationWarning: currentThread() is deprecated, use current_thread() instead"
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**

When testing on Python 3.10 a DeprecationWarning is emitted from the use of an old alias for `threading.current_thread()` in the following function:

https://github.com/cherrypy/cheroot/blob/670a5c2ef69fb158cbf7ffb

[2021-05-16 09:05] webknjaz commented on #369
Looks like a part of the warnings in that log are coming from CherryPy, not Cheroot.
But anyway, thanks for raising this and feel free to send PRs updating these names.

[2021-05-18 05:49] webknjaz commented on #369
So it looks like `getName()` and `setName()` should also be fixed in `workers/threadpool.py`.

[2021-05-20 11:19] soham4abc commented on #369
Please see to it if it completely fixes the issue!

[2021-06-07 18:11] #369 closed

[2021-06-21 08:05] mattip opened #373 "PyPy fixed a bug with tox, cheroot can re-enable CI run"
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**
I am not sure if this is a bug or some other category. In this line
https://github.com/cherrypy/cheroot/blob/7af66b0ebff15eae52f9a01b4f9584906a816e90/.github/workflows/python-tests.yml#L46
an issue is mentioned that

[2021-06-21 15:09] webknjaz commented on #373
Feel free to send a PR and we'll see if it's still failing. Personally, I don't use PyPy normally but still try to support it in my projects to the extent CI allows.

[2021-07-14 12:14] AdamaTheHutt opened #375 "Windows error 10022 kills threads"
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**
Sometimes when closing a connection, we get an error, probably because it's already closed or similar. This is addressed in https://github.com/cherrypy/cheroot/commit/384e6d035b45e687aacfcd39b2fe6c8e8ab92f62 , the p

[2021-07-21 11:25] MichaIng opened #378 "High idle CPU usage"
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**
The idle CPU load has been significantly increased with #199 and further multiplied with #308. The new connection manager seems to imply a loop which significantly loads the CPU, compared to before. With the second

[2021-07-21 11:31] webknjaz commented on #378
I suppose it's a follow-up for https://github.com/cherrypy/cherrypy/issues/1908, right?

[2021-07-21 11:37] webknjaz commented on #378
cc @mar10 @cyraxjoe
@tommilligan @liamstask @kmduk @timurgen @jakeczyz @liamstask @hardikmodha @manthey @kavehtp @andebor @the-allanc @Blindfreddy

[2021-07-21 11:38] MichaIng commented on #378
Jep, at least this made me dig deeper into it. I recognised just now that it matches the symptoms exactly. Now I wonder whether we should merge those issues? 🤔
At least it fits better here into the cheroot repo rather than the CherryPy repo.

[2021-07-21 11:40] webknjaz commented on #378
@MichaIng I'm going to wait for @Blindfreddy to confirm this and if it's true, I could transfer his issue into Cheroot and maybe copy some details from this issue + keep that one because it has more comments.

[2021-07-21 11:41] MichaIng commented on #378
Yes makes sense. Sorry I should have appended the finds there to not split conversation 😅.

[2021-07-21 11:44] webknjaz commented on #378
That's alright. Now we wait :)
I'd accept a PR but I'd like to get more feedback first because previous refactoring attempts caused regressions which I'd like to avoid (also, I'm not sure if we can come up with proper regression tests for the CI to catch problems in the future).

[2021-07-21 11:48] MichaIng commented on #378
Yes, we should check carefully what the restored `timeout=0.1` may have for side effects. Probably there is a way to reduce the overhead implied by the reduced timeout (resp. increased loop rate) instead, when there are no open connections, or so.

[2021-07-21 12:16] webknjaz commented on #378
Interesting... We may consider making this:
1) a configurable setting
2) a dynamically adjusted value (depending on the load?) — not sure whether it'd be reasonable to have this backed-in or pluggable as a third-party lib

[2021-07-21 13:42] MichaIng commented on #378
I think checking the load would only increase the load and complexity. The goal should be to reduce the steps done within the loop to a minimum and not adding further magic. But that opinion is on pretty minimal insights.

Here is the loop, which runs until a `stop()` is requested: https://github.com/cherrypy/cheroot/blob/e2cfa19/cheroot/connections.py#L208-L229

Within the loop, it collects and i

[2021-07-21 19:54] liamstask commented on #378
I previously submitted https://github.com/cherrypy/cheroot/pull/352 for this, but there was an issue on windows I was not able to reproduce.

[2021-07-21 20:05] MichaIng commented on #378
I'll see if I'm able to setup a test environment on Windows. It's not exactly what I head in mind, but makes sense to align it with the anyway present expiration timeout. But this means that `stop()`ing the connections will take up to this timeout, as `stop()` only sets the flag for this loop to exit but does not actively cancel the selection, does it? Probably this causes issues on some platforms

[2021-07-22 05:06] liamstask commented on #378
this is correct. the original default value of `0.5` was selected to match the default poll interval in [socketserver](https://docs.python.org/3/library/socketserver.html#socketserver.BaseServer.serve_forever) but is configurable.

I am not sure I understand - once the selector `select()` wakes up (either as a result of the timeout or due to a connection becoming active), it will check if stop has

[2021-07-22 11:02] MichaIng commented on #378
Ah yes that is true. Then it totally makes sense as you suggest in #352:
- Whenever a new connection is incoming, the selector immediately "awakes" and processes it.
- When no new connection is incoming, the selector waits at max for expiration_interval to assure that stale connections are closed accordingly.

How I see only one issue:
1. Let's say there was connection A, which is not active anymo

[2021-08-10 10:03] kloczek opened #379 "8.5.2: sphinx warnings"
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**
Build sphinx documentation emmits some warnings

❓ **What is the motivation / use case for changing the behavior?**

💡 **To Reproduce**
Just run setuptool `build_sphinx` command
[code]
📋 **Environment**

- Cheroot v

[2021-08-10 10:10] kloczek opened #380 "8.5.2: pytest errors"
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**
pytest test suite ends with `ImportError` errors,

💡 **To Reproduce**
I'm trying to package your module as rpm packag. So I'm using typical in such case build, install and test cycle used on building package from no

[2021-08-10 10:23] kloczek commented on #380
Just tested and looks like tox is failing as well.
Summary tox log:
[code]
(if you need full tox log please let me know)

[2021-08-10 11:44] webknjaz commented on #379
This is because you didn't replicate what tox does. You must have a Git repo with all the tags available for this to succeed.

[2021-08-10 11:44] #379 closed

[2021-08-10 12:35] kloczek commented on #379
IMO putting in documentation full git changelog is a bit odd.
Usually in documentation I would expect not such full log but something like higher level list of changes between version.
Issue is that that full changelog is part of standard documentation and (please correct me if I'm wrong) looks like it is not easy to include it,

[2021-08-10 13:13] webknjaz commented on #379
No, it doesn't include a full git log. Git is used to find the dates of the matching tags.

[2021-08-10 13:21] webknjaz commented on #380
1) The only supported way is to build using PEP 517. If you call the underlying tooling directly, it's your responsibility to replicate all the args you may need. You may use the tox config for pointers.
2) The second problem was addressed by https://github.com/cherrypy/cheroot/commit/7072130bf13728d992a6dd95d57dac7d2153b9c1, this is why it doesn't fail anymore.

[2021-08-10 13:21] #380 closed

[2021-08-10 14:15] kloczek commented on #380
Hmm .. ok, but which one args?
pytest args are in pytest.ini.
Just made test to test using tox and tox shows me very similar errors.
Just first one:
[code]

AFAIK PEP517 is generally about use different metadata and installation in this case of all files which will be different will be different only in those metadata (no .egg-info  but .dist-info)
In whole [PEP571](https://www.python.org/dev/peps

[2021-09-10 07:44] kasium opened #384 "Add type hints"
❓ **I'm submitting a ...**
- [ ] 🐞 bug report
- [X] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐣 **Describe the solution you'd like**
It would be great to see the python 3.5+ type hints in the repository, especially for the ``Server`` api.

📋 **Describe alternatives you've considered**
Adding type stubs to typeshed (https://github.com/python/typeshed/tree/master

[2021-09-10 07:55] webknjaz commented on #384
Is love to see type hints here in Cheroot and in CherryPy. The next major release is supposed to be dropping py2 so it's possible to use native syntax. OTOH, we could also try pyi files or comment-based hints for something to be available in the 8.x stream. PR is welcome :)

[2021-09-10 08:02] kasium commented on #384
@webknjaz Let me try to add some more context and ideas
- type comments: very limited syntax but python 2 compatible. I guess it's not worth the effort due the deprecation of python 2
- pyi files: would then be part of typeshed I guess? However, I prefer native support, because you don't forget to adapt the types when you code. In addition, mypy can then also help you during development.

I'm happ

[2021-09-10 08:19] webknjaz commented on #384
There's more to it. We were thinking about keeping the 8.x for bugfixes. This means that we'd need to backport things from the newer versions. Active use of the newer syntax would mean the need to manually resolve conflicts, which adds to the maintainance burden. OTOH if the code base is similar enough, `git cherry-pick` will be able to apply patches cleanly, meaning that we could just rely on the

[2021-09-17 08:59] kasium commented on #384
Sorry for the late reply. I agree with you, pyi files seem to be the best solution. If it's fine for you, I'll try to add some base hints for e.g. the ``Server`` and then let's see

[2021-09-18 11:51] webknjaz commented on #384
Sounds good. Note that I'm on vacation and may be unable to review for a week or two.

[2021-10-11 16:36] mar10 opened #392 "Broken links?"
Just in case you didn't notice yet: the homepage link is broken, since [cherrypy.org](https://cheroot.cherrypy.org/) is owned by someone else and should be https://cheroot.cherrypy.dev ?

![image](https://user-images.githubusercontent.com/41663/136824452-6bd6f782-097e-4af7-992f-754ac880eded.png)

[2021-10-13 00:40] webknjaz commented on #392
Yes, you're right, context: https://github.com/cherrypy/cherrypy/issues/1872.

[2021-11-19 06:52] kasium opened #400 "Maximum URL length / Block too long URLs"
❓ **I'm submitting a ...**
- [ ] 🐞 bug report
- [X] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Is your feature request related to a problem? Please describe.**
My application which uses cheroot should be secure as possible and also avoid DoS attacks.
Saying that, sending constantly very long URs to eh service can lead to an outage, etc.

🐣 **Describe the sol

[2021-11-25 02:06] #261 closed

[2021-11-29 01:17] webknjaz commented on #373
I'm trying to re-enable those jobs but it's not as trivial. We depend on cryptography that doesn't provide wheels for PyPy 2.7 and installing the build deps doesn't seem easy. Taking into account that Python 2 support will be dropped, it shouldn't be too problematic.
I'll also check if I can do anything about other exclusions.

Mostly with testing in public CIs. Specifically old hacks for py2.7.

[2021-12-08 23:49] thezoggy commented on #358
Not we see this with our app when older ssl requests come in from random scanners or local apps that still tried ssl rather than tls. After like 5 requests in a row cherrypy crashes

[2021-12-13 16:20] kasium commented on #384
So, the first part was now merged. However, certain parts are missing:

- [ ] Add typing to _compat
- [ ] Add typing to tests (?)
- [ ] Activate "warn_usused_ignore" (needed because of differences in py2 and py3)
- [ ] Add stubtest
- [ ] Add py.typed file and add it to the distribution
- [ ] Improve the stubs (add missing types and remove Any's)

[2021-12-17 10:26] kasium commented on #384
@webknjaz can you please share your opinion about typing in tests. Personally I do that in my projects, but I use inline types (`a: int= 2`). However, having a pyi file which types the tests seems weird to me, since each time you add a test, you need also to add types for it.

[2021-12-17 13:42] webknjaz commented on #384
@kasium can we go for inline type comments in tests?

[2021-12-17 14:23] kasium commented on #384
@webknjaz aren't they also execute in python2? If yes, they type comments would be the only way since the syntax is py3 only

[2021-12-18 23:11] webknjaz commented on #384
That's exactly what I was suggesting.

[2021-12-21 20:33] kasium commented on #384
@webknjaz what should we do with private methods? If they are not part of the pyi files, mypy complains in tests

[2021-12-23 20:34] webknjaz commented on #384
In that case — yes.

[2021-12-30 12:49] shoaib-xo commented on #105
No solution/workaround till date?

[2022-01-03 19:28] MichaIng commented on #378
This has now been merged here: https://github.com/cherrypy/cheroot/pull/401
Testing/verifying the idle CPU usage benefits would be welcome.

On Windows systems, sadly a capped timeout needs to stay, as the connection handler `select()` function somehow on Windows does not return as fast as a connection is detected. The timeout however has been increased from `0.01` to `0.05` seconds, which seems t

[2022-01-09 00:03] webknjaz opened #464 "[TODO] Remove the integration with PyUp"
❓ **I'm submitting a ...**
- [x] 📋 task

🐞 **Is your feature request related to a problem? Please describe.**

I tried doing this myself by removing the @pyup-bot user from collaborators but it keeps coming back being re-added by @jaraco: https://github.com/organizations/cherrypy/settings/audit-log?q=action%3Arepo.add_member.
I removed the config from the repo and I also tried removing my own acco

[2022-01-09 03:48] jaraco commented on #464
I don't see anything about PyUp under integrations:

![image](https://user-images.githubusercontent.com/308610/148668519-ccc21e5f-6253-4c8b-bb40-882e2fe6d6ea.png)

Nor webhooks:

![image](https://user-images.githubusercontent.com/308610/148668529-0d1242e3-8eea-495a-bd7a-a89e9a65490c.png)

[2022-01-09 03:51] webknjaz commented on #464
@jaraco it's not a GH App but an old-fashioned webhook-based thing @ https://github.com/settings/applications — it's connected through your user account, not the org. Plus @ https://pyup.io/account/repos/github/cherrypy/cheroot/.

[2022-01-09 03:53] jaraco commented on #464
I logged into PyUp.io and removed CherryPy and Cheroot repos.

[2022-01-09 03:53] #464 closed

[2022-01-13 10:31] kloczek commented on #380
I've been trying to use that commit but I cannot use it on top of last release.
Are you going maybe make a new release soon? 😄

[2022-01-13 17:33] xinthose opened #468 "Offline Installation"
Hello.  Can cheroot v8.6.0 be installed on a Linux computer (Ubuntu 16.07 LTS) that is not online?  I ask because I get the following error messages when I try to install it:

[code]

[2022-01-13 17:45] #468 closed

[2022-01-14 15:31] webknjaz commented on #380
Released 11 days ago.

[2022-01-14 15:34] webknjaz commented on #380
I mean that you may be producing some different directory layout by using different methods which may be influencing stuff.

[2022-01-14 15:38] webknjaz commented on #380
Some versions of `requests` use `chardet_normalizer` if there's no `chardet`, `chardet_normalizer` then produces a `UserWarning`, and pytest's setting `filterwarnings = error` (same as `python -Werror`) turns that into an exception. Making sure that `chardet` is present should make `requests` not use `chardet_normalizer` which means that there's nothing to produce a warning in the first place, in

[2022-01-17 09:38] kloczek commented on #380
Just tested 8.6.0 and looks like pytest fails on colecting units because missing `prepend` module.
Only `prepend` which I found is https://pypi.org/project/prepend/ and that module in zip file does not provide anything.
May I ask fo some hint or help pointing on what is still missing in my env?
[code]

[2022-01-17 10:25] webknjaz commented on #380
No idea. Looks like this is because you have the importables in two places in the import path.

[2022-01-17 10:43] kloczek commented on #380
I'm using `%pytest` rpm macro to inject twose two paths to cover those modules which are installong module in sirelib and sitearch path. Exactly the same macro is working for +660 modules.
Even when packahge buikd fails and I'm trying to run the same command manually but with only one path it fails exactly the same way:
[code]

[2022-01-21 08:20] kloczek commented on #380
I had a closer look on the test suite code and I found that cheroot/test/*.py files are using relative imports. In case when test suite is executed against installed `cheroot` (in this case in $PYTHONPATH) it causes that there are two copies of the test suite: one in source tree and second one in $PYTHONPATH.
To solve that IMO it could be done:
- move cheroot/test/ to test/ and not install those f

[2022-01-22 12:27] bnavigator commented on #355
This is no longer an issue in 8.6.0

[2022-01-23 22:19] webknjaz commented on #355
Thanks for pointing this out!

[2022-01-23 22:19] #355 closed

[2022-01-24 12:37] webknjaz commented on #380
None of other distributions have these problems. It's a problem with adding an extra directory to the path. When you do that, expect problems. The suggested changes are just band-aids and are not desired upstream.

[2022-01-24 13:07] kloczek commented on #380
Example from Fedora: https://src.fedoraproject.org/rpms/python-cheroot/blob/rawhide/f/python-cheroot.spec#_101
As you may see on testing they are using `{__python3} -m pytest`.
When module is executed over `pythin -m foo` to the sys.path automatically is added upfront current path.
That way of using pytest **is not reccomended** by pytest maintainers and this is why pytest provides /usr/bin/pytest

[2022-01-24 13:12] kloczek commented on #380
By using `python3 -m pytest` pytest tests what actually is in source tree and not what is installed in </install/prefix>.

[2022-02-01 16:59] webknjaz commented on #380
Ah, "testing as installed" is something I'd want to explore later but for now, we test what we test.

[2022-02-02 21:31] kloczek commented on #380
Indeed .. it is exactly that scenario😄

[2022-02-03 16:46] kasium commented on #384
@webknjaz I'll try to work on the open points in the next time

[2022-02-03 22:00] webknjaz commented on #384
Sure, no hurry. Thanks!

[2022-02-08 11:18] Safihre commented on #252
When will Python 2 support be dropped finally?

[2022-04-02 11:20] bnavigator opened #502 "Pytest 7: test_high_number_of_file_descriptors causes next test to fail"
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**
When upgrading to pytest 7, the test suite fails with an error for setting up the first test of test_ssl.py, which is usually run after `test_server.py::test_high_numer_of_file_descriptors`.

💡 **To Reproduce**
1. I

[2022-05-02 16:17] VladimirKuzmin opened #504 "Add an option for port re-using"
❓ **I'm submitting a ...**
- [ ] 🐞 bug report
- [X] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Is your feature request related to a problem? Please describe.**
We have a process that automatically distributes available ports across multiple cheroot processes and keeps sockets on those ports opened until cheroot processes take control on them. Cheroot right n

[2022-05-12 13:41] xypron opened #506 "BUG: incorrect version number generated in distributions"
Debian and Ubuntu user package versions like 8.6.0-ds1 which are fine for *.deb packages but not legal according to PEP440.

In cheroot/__init__.py:13: the Debian package number is misused as Python package __version__.

[code]

This leads to errors like the following

[code]

It would be preferable to sanitize the string returned by pkg_resources.get_distribution('cheroot').version.

Debian bug:

[2022-05-15 09:31] yihuang opened #508 "unit tests failed on macos"
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**

❓ **What is the motivation / use case for changing the behavior?**

💡 **To Reproduce**

Steps to reproduce the behavior:
[code]

💡 **Expected behavior**

Tests should pass.

📋 **Details**

[code]

📋 **Environment**

[2022-05-18 22:05] webknjaz commented on #506
This is a misconception. Look into PEP 440, find a "local version" there and you'll see that it's perfectly fine to have it. Moreover, the specific use-case is for downstream packagers to encode their patches like that, or for SCM metadata to be appended. In our case, we rely on setuptools-scm to generate intermediate version numbers which also adds a Git commit sha in some cases.
One exception is

[2022-05-18 22:05] #506 closed

[2022-06-22 00:23] jaraco opened #509 "Migrate to 'main' for default branch"

[2022-06-22 00:25] #509 closed

[2022-06-22 00:48] jaraco commented on #252
Yes. It's time to get this done, even if cheroot is unstable.

[2022-06-22 01:32] jaraco commented on #508
I get these same failures on my workstation.

[2022-06-22 01:43] jaraco commented on #508
When I run the tests on Python 3.9, I get a different failure, but none of those reported above.

[2022-06-22 02:00] jaraco commented on #508
It looks like maybe this issue was encountered in CI and suppressed there only (bff4985d1ade525a4f0fc9aea4c0bb7b8aef7572).

[2022-06-22 02:05] jaraco commented on #508
After expanding the xfail, the tests on Python 3.10 now fail the same as on 3.9 and 3.8.

[2022-06-22 02:09] jaraco opened #511 "test_tls_client_auth: previous item was not torn down properly"
When running the tests on macOS, I get an error about the previous test not being torn down properly:

[code]

[2022-06-22 02:15] jaraco commented on #511
It appears the test that's running before and leaving itself not torn down properly is `test_high_number_of_file_descriptors`. Tests pass if I run:

[code]

[2022-06-22 02:27] jaraco commented on #511
Removing the `forked` marker also works around the issue. Skipping the test does not, however.

[2022-06-22 02:29] jaraco commented on #511
I can replicate the issue by using this test as the sole "forked" test:

[code]

So the bug is with forked.

[2022-07-04 08:38] SnarkBoojum opened #515 "setuptools_scm_git_archive is obsolete"
Since version 7, setuptools_scm has native support for git archive, so the [project](https://github.com/Changaco/setuptools_scm_git_archive) is obsolete and its homepage is a porting guide.

[2022-09-01 18:40] #268 closed

[2022-09-08 13:25] tlandschoff-scale commented on #17
We actually fell over this, in that a client could overwrite the HTTP headers of a proxy. We discovered this ticket and the solution.

But using `DropUnderscoreHeaderReader` actually breaks the service completely as it expects a native str, but the header is passed as a byte string:

[code]

This tells me

a) this class did never work
b) everybody using cheroot so far is prone to header spoofing a

[2022-09-17 05:28] toppk opened #517 "ssl.SSLZeroReturnError exception on startup with builtin ssl backend python 3.8 or above"
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**
I get an exception on startup.  Everything seems to be working okay.
I have attached the exception, and the code used you will need to generate an ssl cert/key pair to test.

❓ **What is the motivation / use case fo

[2022-09-17 05:30] toppk commented on #517
this is the exception so people don't have to download the attachment.  the code is a basic cherrpy startup that grabbed from https://github.com/cherrypy/cheroot/issues/346

[code]

[2022-09-17 05:36] toppk commented on #517
one thing is important to note, is that there is no tcp connection made when the exception occurs, this exception is spontaneous.

[2022-09-18 17:39] webknjaz commented on #517
This strongly reminds me of https://github.com/cherrypy/cherrypy/issues/1618.

[2022-09-18 17:42] webknjaz commented on #517
Well, that might be CherryPy's Checker kicking in. Have you tried disabling it?

[2022-09-18 17:44] webknjaz commented on #392
This is fixed, AFAICT.

[2022-09-18 17:44] #392 closed

[2022-09-20 18:54] toppk commented on #517
i disabled the checker, no difference.  I tested on ubuntu 22.04 with python3.10 and the same issue.

[2022-09-20 19:25] webknjaz commented on #517
Oh, wait, I remember there was some kind of a TLS probe added in relatively recent releases. Maybe that's what's failing...

FWIW It'd be useful to have a pure-Cheroot repro for this.

[2022-09-21 20:54] toppk commented on #517
update: tried straight cheroot and it didn't have any issues, added logging and I can definetly see the peer address so it may be a tls probe (which I haven't found in the code just yet).

Another major update, is that this issue goes away when using python<3.8, no changes in cherrypy/cheroot versions, just switching between python 3.8 and python 3.7 flips this exception on and off, and they both

[2022-09-21 22:12] toppk commented on #517
Okay, I monkey patched socket, and printed a stacktrace on connect and found the code.  it is portend, specifically in cherrypy/process/servers.py
[code]

So everything is happening as expected.  There are two questions.

1. why does cheroot under python 3.7 hid these zero-bytes-sent connections and only see them under python 3.8, and
2. do we want to hide such exceptions in similar cases in the f

[2022-09-21 22:17] toppk commented on #517
adding the test code w/ monkeypatch, in case people need to debug something like this in the future.

[code]

[2022-09-22 02:54] toppk commented on #517
I found the change in cpython that caused the issue, and submitted a pr to cheroot

[2022-09-22 04:14] toppk commented on #517
as it turns out, the cpython patch was made in response to cherrypy/cherrypy#1618 , which ended manifesting the same exception a different way.  This was a confusing bug to track down.

[2022-10-03 01:50] webknjaz commented on #375
Looks like this error code is sometimes exposed as `EINVAL` or `WSAEINVAL`:

* https://github.com/python/cpython/blob/19ca114/Modules/errnomodule.c#L146-L152
* https://github.com/python/cpython/blob/19ca114/Modules/errnomodule.c#L791-L793

So it seems like maybe it should be covered already. At least in some envs. But somebody needs to check a reproducer under a relevant env. One way to do this is

[2022-10-05 14:41] webknjaz commented on #511
Yes: https://github.com/pytest-dev/pytest/issues/9621 / https://github.com/pytest-dev/pytest-forked/issues/67.

[2022-10-05 15:06] webknjaz commented on #502
That's an incompatibility of `pytest-forked` and pytest 7.

[2022-10-20 10:05] mgrabovsky commented on #384
Hi, is there something left to be done here? Which files specifically need to be annotated?

[2022-10-20 13:22] kasium commented on #384
@mgrabovsky I guess this is done

[2022-10-20 14:26] webknjaz commented on #384
@kasium it seems like there's something in your TODO comment at https://github.com/cherrypy/cheroot/issues/384#issuecomment-992641807 that could be imrpoved.

@mgrabovsky if you want to contribute improvements, you could look at replacing the `Any` types in stubs with more accurate values and maybe explore adding type stubs for tests.

[2022-10-20 15:13] kasium commented on #384
Ah right. Thanks 👍

Yes, the types could be improved but else the item is finished

[2022-11-08 13:55] kulikjak opened #561 "test_keepalive_conn_management failure on Solaris."
❓ **I'm submitting a ...**
- [X] 🐞 bug report
- [ ] 🐣 feature request
- [ ] ❓ question about the decisions made in the repository

🐞 **Describe the bug. What is the current behavior?**

`cheroot/test/test_conn.py::test_keepalive_conn_management` test fails on Oracle Solaris 11.4 when executed.

💡 **To Reproduce**

Clone this repo and run:
`/usr/bin/python3.7 -m pytest cheroot/test/test_conn.py`
in

[2022-11-08 14:52] The-Compiler commented on #517
I started seeing this as well after a recent Archlinux system update. I'm not entirely sure that the CPython commit linked in #518 is really to blame (after all, it also talks about `ssl.SSLEOFError` and not `SSLZeroReturnError`!).

The more likely culprit seems to be `upgraded openssl (1.1.1.q-1 -> 3.0.7-2)` and not any change in CPython.

[2022-11-18 19:31] dvzrv commented on #252
Hi! What's the status on this?

AFAICT this issue blocks moving to more recent version of setuptools-scm, which in turn blocks the removal of setuptools-scm-git-archive.

[2022-11-18 22:42] webknjaz commented on #252
Why is it important to move to the newer version of the build system plugin? The current build deps are compatible across all supported versions of Python already.

[2022-11-18 22:46] Safihre commented on #252
@webknjaz does it matter at all? Why is this still not done?
I don't understand this project at all, barely any improvements/fixes and only updates related to tests and test frameworks.
Sorry for sounding sour but I was just hoping for a bit of development...

[2022-11-18 23:07] dvzrv commented on #252
Because we would like to remove the use of setuptools-scm-git-archive on Arch Linux, as it is yet another package we would potentially need to bootstrap for each minor version upgrade of the Python interpreter.

The current project setup prevents doing this, as setuptools-scm >= 7.0.0 (which is required for dropping setuptools-scm-git-archive) is not compatible with python < 3.7 (and only >= 3.7 i

[2022-11-18 23:22] webknjaz commented on #252
@Safihre I was hoping that it was obvious that this is blocked by the lack of time. Also, I find it more impactful to maintain stability, hence improvements in test deps locking and reproducibility of testing.
@dvzrv I know that Jason tried removing py2 support in one huge chunk, but probably didn't have time either. Both of us maintain a number of projects and are trying to come up with scalable

[2022-11-19 07:25] Safihre commented on #252
In my personal opinion the number of test related commits in this and cherrypy repo has been way too many compared to actual fix/feature commits. The ratio seems completely off for a long time. Instead of small test related commits, the combined time could have been used to actually move things forward instead of keeping these projects in their stagnent state. What's the point of good tests if the

[2022-11-19 16:37] webknjaz commented on #252
Note that most of them are automated (the pin updates), hence they don't require almost any effort.

[2022-11-19 17:30] #252 closed

[2022-11-19 17:33] jaraco commented on #252
I've merged the PR to remove Python 3.5 and earlier support and released it as v9.0.0. I don't trust the automated release processes to work, so I just cut the release manually.

[2022-11-19 17:34] jaraco opened #565 "Drop support for Python 3.7"
Python 3.6 has been EOL for some time now. Let's drop support for it.

[2022-11-19 17:45] jaraco opened #566 "LGTM bot is deprecated"
In a recent PR, I noticed that LGTM bot is deprecated and will stop working in December. Someone needs to tear that down or replace it with the Github equivalent.

[2022-11-19 17:54] jaraco commented on #566
I think #563 is the replacement.

[2022-11-19 18:01] jaraco opened #567 "pre-commit fails locally on Python 3.11 macOS"
Running `tox -e pre-commit` fails in the mypy stubs check:

[code]

[2022-11-19 18:13] Safihre commented on #252
😍🎉

[2022-11-19 19:03] webknjaz commented on #567
Yeah, I noticed that when I was trying to bump the Python version for linters in CI. Pretty sure it's not just macOS but rather CPython version that is a factor here. I was about to ask @kasium who implemented that to take a look...

[2022-11-19 19:06] webknjaz commented on #566
Yep, that's their suggested replacement but it doesn't seem a drop-in substitution, unfortunately. For example, LGTM's native comments and configs don't seem to be taken into account. Also, that PR, being autogenerated, doesn't seem to match the jsonschema's expectations, which is why the linting job fails there too.

[2022-11-19 19:15] webknjaz commented on #252
@jaraco I'm planning to document this but it should be possible to trigger the release automation by using the `Run workflow` button and entering the desired version at https://github.com/cherrypy/cheroot/actions/workflows/ci-cd.yml. Here's what the previous release workflow run looks like FYI: https://github.com/cherrypy/cheroot/actions/runs/1651628800. It is supposed to pause before running the

[2022-11-19 19:15] kasium commented on #567
@webknjaz let me have a look

[2022-11-19 19:29] webknjaz commented on #567
@kasium thanks! I'd expect this to be caused by code blocks that are conditional on the Python runtime version. WDYT?

[2022-11-19 19:30] kasium commented on #567
So what missing was a metaclass and an ignore. Not sure what happend... --> https://github.com/cherrypy/cheroot/pull/568